.wrapper-header{
    
    background-color: beige;
    height: 10vh;
    padding: 2%  5%;
    
    justify-content: space-between;

}
.wrapper-header , .content-header{
    display: flex;
    align-items: center;
    
    
}
.content-header{
    font-weight: bold;
    gap: 1em;
    
}
.logo{
    object-fit: fill;
    width: 4rem;
}
.item-header {
    color: black;
}
